{% extends "base.html.twig" %}


{% block body %}
<div class="container">
        <div class="row griGkV">
            <div class="col-md-3 col-xs-3 dGaTvG">
                <img class="jSCFEZ" alt="Logo Charte marianne" src="https://www.gendarmerie.interieur.gouv.fr/storage/var/ezwebin_site/storage/images/4/3/7/8/78734-15-fre-FR/logo-sp-plus.png">
            </div>
            <div class="col-md-6 col-xs-6 ejWxtZ">
                <h2 class="emoaEe">La transparence sur les résultats de la gendarmerie nationale</h2>
            </div>
            <div style="background-color: white; text-align: center" class="col-md-3 col-xs-3">
                <img class="hiacgz" src="{{ ecussonPath }}" alt="ecusson du groupement"/>
            </div>
        </div>
        <div class="py-2 row">
            <h2 class="col-md-6 fymAmm">{{ departement.name }}</h2>
            <form style="margin-top: 24px" class="col-md-6" action="{{path('index')}}">
                <select class="form-select" name="stat" id="stat" onchange='this.form.submit()'>
                    <option>Sélectionner un groupement</option>
                {% for departement in departements %}
                    {% if loop.first %}
                    <option value="{{ departement.id }}">{{ departement.region.name }}</option>
                    {% elseif departement.region.name != departements[loop.index-2].region.name %}
                        <optgroup label="{{ departement.region.name }}">
                    <option value="{{ departement.id }}">{{ departement.name }}</option>
                    {% else %}
                        <option value="{{ departement.id }}">{{ departement.name }}</option>
                    {% endif %}
                {% endfor %}
                </select>
            </form>
        </div>
        <div class=" py-2 text-center">
            <a class="btn btn-primary" href="{{ path('generate_PDF', {id: departement.id}) }}" role="button">Export to PDF</a>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-xs-12">
                <div class="row">
                {% for stat in departement.stats %}
                    <div class="col-md-6 col-sm-6 col-xs-12 fzCSRl">
                        <div class="hepEal">
                            <div class="row eyvzSh">
                                <p class="kIlCOr">{{ stat.type.libelle }} ({{ stat.type.source.type }})</p>
                            </div>
                            <div class="row eyvzSh">
                                    <span class="col-md-12 col-sm-12 col-xs-12 coGMWX">{{ stat.value }}{{ stat.type.suffixe }}</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
        <div class="row dcVOKZ">
            <div class="col-md-8 col-sm-8 col-xs-12 LyzKh" style="padding-top: 25px">Sources:
                {% for source in sources %}
                    <div>({{ source.type }}) {{ source.text }}</div>
                {% endfor %}
                <div class="jZgZdV">Pour en savoir plus rendez vous sur :<!-- --> <a href="https://resultats-service-public.fr">resultats-service-public.fr</a></div>
            </div>
            <div style="padding: 5px;text-align: right;" class="col-md-4 col-sm-4 hidden-xs">
                <img style="height: 250px; width: 250px" src="{{ qr_code_data_uri(app.request.uri, { writer: 'svg', size: 150, foreground_color: { r: 169, g: 182, b: 216 }, background_color: { r: 255, g: 255, b: 255 }}) }}" alt="QR code de la page" />
            </div>
        </div>
</div>
{% endblock %}


