{% extends "base.html.twig" %}

{% block body %}

    <h2 class="text-center">Nom des stats</h2>
    <table id="type-table" class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Libellé</th>
            <th scope="col">Suffixe</th>
            <th scope="col">Texte</th>
            <th scope="col">Source</th>
            <th scope="col">Modifier</th>
        </tr>
        </thead>
        <tbody id="tb-type-body">
        {% for type in types %}
        <tr>
            <th scope="row">{{ type.libelle }}</th>
            {% if not type.suffixe %}
                <td><p style="width: 60px">Indéfini</td>
            {% else %}
                <td><p style="width: 60px">{{ type.suffixe }}</td>
            {% endif %}
            {% if not type.text %}
                <td><p>Aucun texte</td>
            {% else %}
                <td><p>{{ type.text }}<p></td>
            {% endif %}
            <td><p style="text-align: center">{{ type.source.type }}</p></td>
            <td><a href="{{ path('editType', {id: type.id}) }}" class="btn btn-outline-info" role="button" aria-disabled="true">Modifier</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <h2 class="text-center">Sources</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th class="text-center" scope="col">Numéro</th>
            <th scope="col">Texte</th>
            <th scope="col">Modifier</th>
        </tr>
        </thead>
        <tbody>
        {% for source in sources %}
            <tr>
                <th class="text-center" scope="row">{{ source.type }}</th>
                <td><p>{{ source.text }}</p></td>
                <td><a href="{{ path('editSource', {id: source.id}) }}" class="btn btn-outline-info" role="button" aria-disabled="true">Modifier</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block javascripts %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script   src="https://code.jquery.com/jquery-1.12.1.js"   integrity="sha256-VuhDpmsr9xiKwvTIHfYWCIQ84US9WqZsLfR4P7qF6O8="   crossorigin="anonymous"></script>


{% endblock %}