{% extends "base.html.twig" %}

{% block body %}

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Libellé</th>
            <th scope="col">Suffixe</th>
            <th scope="col">Modifier</th>
        </tr>
        </thead>
        <tbody>
        {% for type in types %}
        <tr>
            <th scope="row">{{ type.libelle }}</th>
            {% if not type.suffixe %}
                <td><input Type="text" id="{{ type.libelle }}" disabled placeholder="Non assigné"></td>
            {% else %}
                <td><input Type="text" id="{{ type.libelle }}" disabled placeholder="{{ type.suffixe }}"></td>
            {% endif %}
            <td><input Type="checkbox" onclick="disableThis('{{ type.libelle }}', this)"></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block javascripts %}

    <script>
        function disableThis(name, item) {
            const value = document.getElementById(name);
            // If the checkbox is checked, display the output text
            if (item.checked === true){
                value.disabled = false;
            } else {
                value.disabled = true;
            }
        }

    </script>

{% endblock %}