<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link href="C:\laragon\www\Statistiques\public\pdf.css" rel="stylesheet" crossorigin="anonymous"></link>
        <link href="C:\laragon\www\Statistiques\public\css\bootstrap.min.css" rel="stylesheet" crossorigin="anonymous"></link>
    {% endblock %}

</head>
<body>
{% block body %}
    <div style="max-width: 1140px">
        <div class="griGkV">
            <div class="dGaTvG">
                <img class="jSCFEZ" alt="Logo Charte marianne" src="https://www.gendarmerie.interieur.gouv.fr/storage/var/ezwebin_site/storage/images/4/3/7/8/78734-15-fre-FR/logo-sp-plus.png">
            </div>
            <div class="ejWxtZ">
                <h2 class="emoaEe">La transparence sur les résultats de la gendarmerie nationale</h2>
            </div>
            <div style="background-color: white; text-align: center" >
                <img class="hiacgz" src="{{ ecussonPath }}" alt="ecusson du groupement"/>
            </div>
        </div>
        <div >
            <h2 class="fymAmm">{{ departement.name }}</h2>
        </div>
        <div>
            <div class="parent">
                {% for stat in departement.stats %}
                    <div class="child">
                        <div class="hepEal">
                            <div class="eyvzSh">
                                <p class="kIlCOr">{{ stat.type.libelle }}</p>
                            </div>
                            <div class="eyvzSh">
                                <span class="coGMWX">{{ stat.value }}</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class=" dcVOKZ">
                <div class="LyzKh">
                    <div>Résultats régionaux issus de la campagne annuelle d'évaluation de la qualité de l'accueil menée par l'Inspection générale de la gendarmerie nationale (IGGN). Chaque année et sur tout le territoire (métropole et outre-mer) des personnels rencontrent ou contactent des usagers afin de recueillir leur avis et leur satisfaction. En 2020, la campagne a concerné un panel de 3704 usagers et/ou victimes s'étant rendus ou ayant contacté une unité de gendarmerie.</div>
                    <div>Résultats nationaux issus des statistiques d'activité de la brigade numérique sur la période du 1er janvier 2020 au 31 décembre 2020. Directement accessible sur le site internet ou via les réseaux sociaux de la gendarmerie, les personnels de la brigade numérique répondent à vos demandes 24h/24h, 7j/7j. N'hésitez pas à les contacter!</div>
                    <div class="jZgZdV">Pour en savoir plus rendez vous sur :<!-- --> <a href="https://resultats-service-public.fr">resultats-service-public.fr</a></div>
                </div>
                <div style="padding: 5px;text-align: right;" >
                    <img style="height: 150px; width: 150px;" src="{{ qr_code_data_uri(app.request.uri, { writer: 'svg', size: 250, foreground_color: { r: 0, g: 0, b: 0 }, background_color: { r: 255, g: 255, b: 255 }}) }}" alt="QR code de la page" />
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>



